# Matplotlib

# Numphy

# List

In [2]:
my_list = [1,2,3,4,5,6,7,8,9,10]
print(my_list)

list_sum = sum(my_list)
list_max = max(my_list)
list_min = min(my_list)
my_list.append(12)
my_list.pop()
my_list.sort
my_list.reverse()
print(my_list)

print("Sum:", list_sum)
print("Maximum:", list_max)
print("Minimum:", list_min)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
Sum: 55
Maximum: 10
Minimum: 1

Tuple

In [16]:
my_tuple = ("apple", "banana", "cherry", "date")
print(my_tuple)
print('third element is',my_tuple[2])
my_list = list(my_tuple)
my_list.append("orange")
my_list[1]='peach'
my_tuple = tuple(my_list)
print('modified tuple',my_tuple)

('apple', 'banana', 'cherry', 'date')
third element is cherry
modified tuple ('apple', 'peach', 'cherry', 'date', 'orange')

# Set

In [18]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1)
print(set2)
set1.add(6)
set1.add(7)
print("Updated Set 1:", set1)
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)

print("Union:", union_set)
print("Intersection:", intersection_set)

{1, 2, 3}
{3, 4, 5}
Updated Set 1: {1, 2, 3, 6, 7}
Union: {1, 2, 3, 4, 5, 6, 7}
Intersection: {3}

# Dictionary

In [21]:
student_marks = {
    "Ali": 85,
    "Ali": 92,
    "Ali": 78,
    "Ali": 95,
    "Ali": 88
}

print(student_marks)

{'Ali': 88}